
{% extends "layout.html" %}
{% if session.log  %}
{% block content %}

   <div class="container">
     <h1>Convert .soft files</h1>
     <p>Plase make sure that the file is only.soft file to be able to upload.</p>
   

   <form action = "http://127.0.0.1:5000/convert" method = "POST" enctype = "multipart/form-data">
    <legend>File Upload:</legend>
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form>
</div>

{% endblock %}}
{% else  %}
<h1>You must log in</h1>
{% endif  %}