
{% extends "layout.html" %}
{% if session.log  %}
{% block content %}

   <div class="container">
     <h1>Predict</h1>
     <p>Plase make sure that the file is only csv to be able to upload. Also double check that the patient number and clinic address is correct</p>
   
     <!--This is the form needed for the prediction -->
   <form action = "http://127.0.0.1:5000/predictDNN" method = "POST" enctype = "multipart/form-data">
    <legend>Personal information:</legend>
    <p>Patient number:</p>
    <input type="text"placeholder="patient_number" name="patient_number" value="125">
    <p>Age:</p>
    <input type="text"placeholder="age" name="age" value="28">
    <p>Gender:</p>
    <select name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <p>Clinic Adress:</p>
    <input type="text"placeholder="clinic_address" name="clinic_address" value="123Address">
    <br><br>
         <input type = "file" name = "file" />
         <input type = "submit"/>
    </form>
</div>

 {% endblock %}}
{% else  %}
<h1>You must log in</h1>
{% endif  %}