
<!--THis is the sign up html -->
{% block body %}
 <style>

* {
box-sizing: border-box;
}
 
*:focus {
outline: none;
}
body {
font-family: Arial;
padding: 50px;
}
.signup {
margin: 20px auto;
width: 300px;
}
.signup-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}
 
.app-title {
text-align: center;
color: #777;
}
 
.signup-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
 
input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 
.btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}
 
.btn:hover {
background-color: #2980B9;
}
 
signup-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

</style>
<form action="signup" method="POST">
<div class="signup">
<div class="signup-screen">
<div class="app-title">
<h1>Sign Up</h1>
</div>
<form action="" method="POST">
<div class="signup-form">
<div class="control-group">

<!--Only @Genex mail is allowed when signing up-->
<input type="text" class="form-control" value="" placeholder="email" name="email" pattern="[a-z0-9._%+-]+@genex.[a-z]{2,}$" required>
<label class="signup-field-icon fui-user" for=signup-name"></label></div>
<div class="control-group">
    <input type="text" class="form-control" value="" placeholder="username" name="username" required>
	<label class="signup-field-icon fui-user" for=signup-name"></label></div>

<!--Password Must contain at least one number and one uppercase and lowercase letter, and at least 8 ({8,}) or more characters-->
<div class="control-group">
    <input type="password" class="form-control" value="" placeholder="password" name="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
required>
<label class="signup-field-icon fui-user" for=signup-name"></label></div>

<input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block">
</div>
</form>
 
</div>
</div>
</div>
</form>
{% endblock %}