{% extends "layout.html" %}
{% block content %}
   <div class="predict">
     <h1>Predict</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam nisl convallis lectus condimentum interdum. Phasellus et dignissim ex. Donec porta leo sed felis laoreet sagittis. Vestibulum feugiat eleifend bibendum. Praesent vel risus dapibus, egestas dui nec, consectetur diam. Nullam sagittis nibh at mi semper molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce in nunc at elit interdum dictum nec ut nunc. Duis magna dui, vestibulum vel nisi quis, ullamcorper dignissim orci. Proin auctor, lectus id tempus finibus, leo dolor porta nisl, a scelerisque mi enim ac purus. Sed id nibh tincidunt, iaculis quam vel, viverra lorem. Duis sed felis eget orci fermentum varius et at leo. Nulla facilisi.</p>
   </div>

   <form action = "http://127.0.0.1:5000/predict/" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
 {% endblock %}