{% extends "layout.html" %}

{% block content %}
{% if session.log  %}
<div class="container">
<form method="POST">
            {{ FlaskForm.hidden_tag() }}
            {{ FlaskForm.name.label }}: {{ FlaskForm.name() }} {% for error in FlaskForm.name.errors %}{{ error }}{% endfor %}
            {{ FlaskForm.room.label }}: {{ FlaskForm.room() }} {% for error in FlaskForm.room.errors %}{{ error }}{% endfor %}
            {{ FlaskForm.submit() }}
</form>
</div>

{% else  %}
<h1>You must log in</h1>
{% endif  %}

{% endblock %}