
<!DOCTYPE html>
<html>
<head>
  <title>Cancer Checker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #555;
      color: white;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

        .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: auto;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
        background-color: #94C7B6;
    }

}

  </style>

  {% if title %}
      <title>Cancer Detection - {{ title }}</title>
  {% else %}
      <title>Detection</title>
  {% endif %}
</head>
<body>
  {% if session.log %}
  {% block body%}
    <nav class="navbar navbar-inverse" style="background-color:#2A2639;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="background-color: #2A2639;">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('predict') }}">Predict</a></li>
        <li><a href="{{ url_for('predictOVR') }}">Predict2</a></li>
        <li><a href="{{ url_for('convertion_file') }}">Convert</a></li>
        <!--<li><a href="{{ url_for('download_file') }}">Download</a></li>-->
        <li><a href="{{ url_for('results') }}">Results</a></li>
        <li><a href="{{ url_for('directory') }}">Directory</a></li>
        <li><a href="{{ url_for('home') }}">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div></div>
<div></div>
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner" style="background-size: cover;">
            <div class="item" style="">
              <img src="{{url_for('static', filename='rsz_23.jpg')}}" style="width:100%;">

            <div class="carousel-caption">
                <h4 class="">Lorem Ipsum</h4>
                <p class="">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="item active" style="background-size: cover;">
            <img src="{{url_for('static', filename='rsz_2rsz_4.jpg')}}" style="width:100%;">
            <div class="carousel-caption">
                <h4 class="">Lorem Ipsum</h4>
                <p class="">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="item" style="background-size: cover;">
            <img src="{{url_for('static', filename='rsz_5.jpg')}}" style="width:100%;">
            <div class="carousel-caption">
                <h4 class="">Lorem Ipsum</h4>
                <p class="">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>    

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>


</div>



<div class="container">

</div>
    <!-- Optional JavaScript -->
    <script> $('#myCarousel').carousel();
    var winWidth = $(window).innerWidth();
    $(window).resize(function () {

        if ($(window).innerWidth() < winWidth) {
            $('.carousel-inner>.item>img').css({
                'min-width': winWidth, 'width': winWidth
            });
        }
        else {
            winWidth = $(window).innerWidth();
            $('.carousel-inner>.item>img').css({
                'min-width': '', 'width': ''
            });
        }
    });</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- https://pixabay.com/images/search/doctor/ images used -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block content %}
    {% include "includes/_message.html" %}
    {% endblock %}
    {% endblock %}
{% else %}
<h1>Access Denied</h1>
{% endif %}
<footer style="background-color: #2A2639;">
  <center><p>Contact for issues: <a href="mailto:erikasecillano281@gmail.com">
  erikasecillano281@gmail.com</a>.</p></center>
</footer>
</body>
</html>

