
{% block body %}

<style>
 .btn {
border: 2px solid transparent;
background: #3498DB;
color: #ffffff;
font-size: 16px;
line-height: 25px;
padding: 10px 0;
text-decoration: none;
text-shadow: none;
border-radius: 3px;
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto;
}

.control-group {
margin-bottom: 10px;
}
 
.btn:hover {
background-color: #2980B9;
}

.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

.app-title {
text-align: center;
color: #777;
}


</style>
<head>
    <TITLE>Gene Expression Cancer Predcitor</TITLE>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
 
        <div class="jumbotron">
            <div class="app-title">
    <h1>Gene Expression Cancer Predcitor</h1>
	</div>
            <p class="lead"></p>
            <div class="control-group">
			<a href="{{ url_for('login') }}"><input type="submit" value="Log in" class="btn btn-primary btn-large btn-block"></a>
			<label class="login-field-icon fui-lock" for="login-pass"></label></div>
			<div class="control-group">
			<a href="{{ url_for('signup') }}"><input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block"></a>
			<label class="login-field-icon fui-lock" for="login-pass"></label></div>
        </div>
 
    </div>
</body>
 </html>
{% endblock %}
